body{
	 text-align: center;
}

div{
	display: inline-block;
}

table, th, td {
   border: 1px solid black;
}

table{
    table-layout: fixed;
    margin: 0 auto;
    width: 90%;
}

td {
	width: 90%;
}
#new_purchase {
	margin: 20px 10px 0px 10px;	
	width: 100%;
	font-size: 22px;
}

input, #submit {
	font-size: 22px;
	width: 100px;
	margin: 0;
}

.form_cell {
	margin-right: 30px;
}

footer {
    width: 100%;
    margin-top: 80px;
    padding: 5px;
    background-color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}