table, th, td {
   border: 1px solid black;
}

table{
    table-layout: fixed;
    margin: 0 auto;
    width: 90%;
}

td {
	width: 90%;
}
#new_purchase {
	margin: 20px 10px 0px 10px;	
	width: 100%;
}

.customer_summary {
	width: 100%;
}

.customer {
	padding: 3px 0 3px 0;
	width: 40%;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	background-color: #b1d845;
	margin-top: 20px;
	display: inline-block;;
}
.sum_total{
	padding: 3px 0 3px 0;
	width: 40%;
	font-size: 30px;
	font-weight: bold;
	text-align: right;
	background-color: #eef442;
	display: inline-block;
}
.thread {
}

.record, .sum_record, #sum_label{
	font-size: 22px;
	text-align: center;
}

.sum_record {
	text-align: right;
}

#sum_label {
	text-align: left;
}

#new_purchase {
	font-size: 22px;
}

input, #submit {
	font-size: 22px;
	width: 100px;
	margin: 0;
}

.form_cell {
	margin-right: 30px;
}

footer {
    width: 100%;
    margin-top: 80px;
    padding: 5px;
    background-color: #ddd;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
}