<!DOCTYPE html>
<html>
<head>
<!--Modified from https://www.w3schools.com/howto/howto_css_calendar.asp-->
<link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
</head>
<body>

<div class="month">    
  <div id="prev" class="button">
    &#10094;
  </div>  
  <div id='date'>
    <div id="year"></div>
    <div id="month"></div>    
  </div>
 <div id="next" class="button">
    &#10095;
  </div> 
</div>

<div>
<ul id="days_list" class="days">  
</ul>
</div>

<a id="today">
  顯示今日
</a>

<footer>By Jacky Wang (vicodin1123@gmail.com)</footer>

</body>

<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>

</html>