<!DOCTYPE html>
<html>
<head>
	<title>{{date}}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='date.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>

<div id="back_button" onclick="location.href='{{ url_for('calendar_cost')}}';">回主頁</div>

<div class="title">
	{% set split_date = date.split('_') %}
	{{split_date[0]}} 年 {{split_date[1]}} 月 {{split_date[2]}} 號
</div>

<form id="new_purchase" action="{{ url_for('new_purchase')}}" method="post">
	<input style="display: none;" type="text" name="date" value={{date}}>
   	<div class="form_cell">客人: <input type="text" name="customer"></div>	
   	<div class="form_cell">品項: <input type="text" name="stuff"></div>	
   	<div class="form_cell">斤: <input type="number" name="amount"></div>	
    <button id='submit' type="submit">新增</button>
</form>


{% if all_purchase_list is not none and all_purchase_list is defined and all_purchase_list %}
<table>
 <tbody>
	<tr class="thread">
		<th>客人</th><th>總價</th><th>總成本</th>
	</tr>
	{% for tuple, sum_cost in all_purchase_list %}
	<tr class="record">
		<td class=""><a href="{{ url_for('cost_customer', date=date, customer=tuple[0])}}">{{tuple[0]}}</a></td>
		<td class="">{{sum_cost[0]}}</td>
		<td class="">{{sum_cost[1]}}</td>
	</tr>
	{% endfor %}
</tbody>	
</table>

{% else %}
<div class="title">沒有購買紀錄</div>
{% endif %}

</body>
<footer>By Jacky Wang (vicodin1123@gmail.com)</footer>
</html>