<!DOCTYPE html>
<html>
<head>
	{% set split_date = month.split('_') %}
	<title>{{split_date[0]}} 年 {{split_date[1]}} 月</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='date_customer.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>

<div id="back_button" onclick="location.href='{{ url_for('month', month=month)}}';">回主頁</div>

<div class="title">
	{{split_date[0]}} 年 {{split_date[1]}} 月
	<br>
	本月銷售：{{customer}}
</div>


{% if purchase_list is not none and purchase_list is defined and purchase_list %}

 <table>
 <tbody>
	<tr class="thread">
		<th>日期</th><th>品項</th><th>斤</th><th>單價</th><th>總價</th><th>移除</th>
	</tr>
	{% for purchase in purchase_list %}
	<tr class="record">
		{% set split_date = purchase.date.split('_') %}
		<td class="date">{{split_date[1]}}/{{split_date[2]}}</td>
		<td class="stuff">{{purchase.stuff}}</td>
		<td class="amount">{{purchase.amount}}</td>
		<td class="price">{{purchase.price}}</td>
		<td class="total">{{purchase.total}}</td>
		<td>
			<form id="remove_purchase" action="{{ url_for('remove_purchase')}}" method="post">
			<input style="display: none;" type="text" name="date" value={{purchase.date}}>
		   	<input style="display: none;" type="text" name="customer" value={{customer}}>
		   	<input style="display: none;" type="text" name="stuff" value={{purchase.stuff}}>
		   	<input style="display: none;" type="number" name="amount" value={{purchase.amount}}>
		   	<input style="display: none;" type="number" name="price" value={{purchase.price}}>
		    <button id='submit' type="submit">X</button>
		</form>
		</td>
	</tr>
	{% endfor %}
</tbody>	
</table>
<div class="sum_total">{{sum_total}}</div>

{% else %}
<div class="title">沒有購買紀錄</div>
{% endif %}

</body>

<footer>By Jacky Wang (vicodin1123@gmail.com)</footer>

<script>
</script>

</html>